<div class="container">
	<div class="row">
		<div class="col">
			<div class="card" style="width: 18rem;">
			  <img src="..." class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title"><%=@user.name%></h5>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
		</div>
		<div class="col">
			<div class="row">
				<h1>Scheduled job</h1>
			</div>
			<div class="row">
				<h1>Queued jobs</h1>
			</div>
		</div>
	</div>	

	<!-- job progress status -->
	<div class="row">
		<%=render partial:"progress_bar"%>
	</div>
</div>